@font-face {
    font-family: poppins;
    src: url('fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: js;
    src: url('fonts/JosefinSans-Medium.ttf');
}

@font-face {
    font-family: js-bold;
    src: url('fonts/JosefinSans-Bold.ttf');
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #152535;
    font-family: poppins;
}

/* spinner */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.wrapper{
    width: 100%;
    height: 100%;
    background-color: #152535;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper>div{
    margin-top: 20px;
}

.loading-spinner{
    width: 25px;
    height: 25px;
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    border-top-color: #fff ;
    animation: 0.5s spin infinite ease-in-out;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.hide{
    display: none;
}

/* navbar */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.active .nav-link {
    /* border-top  : 2px solid blue; */
    box-shadow: inset 0px 2px 0px 0px #2a83f2;
}

input::-webkit-input-placeholder {
    color: #b5bdbb !important;
}


/* topmost card */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.topmost {
    /* background-color: red; */
    width: 85%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#banner {
    height: 97%;
    width: 22.5%;
    border-radius: 5px;
    background-color: #203345;
    /* box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4); */
    transition: 0.3s ease-in-out;
    background-image: url('posters/mh_vertical.jpg');    
    background-size:     cover;              
    background-repeat:   no-repeat;
    background-position: center center;
}

#banner:hover {
    box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.4);
}

#playmode {
    position: relative;
    height: 100%;
    width: 75%;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(21, 37, 53, 0.3), rgba(21, 37, 53, 1)), url('posters/moneyheist.jpg');
    background-size:     cover;              
    background-repeat:   no-repeat;
    background-position: center center;
}

#playbutton {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playbutton>img {
    /* background-color: yellow; */
    height: 20%;
    width: auto;
    filter: invert(1);
    transition: 0.3s ease-in-out;
}

#playmode:hover #playbutton>img {
    /* background-color: yellow; */
    filter: invert(0);
}

#title {
    position: absolute;
    bottom: -10px;
    color: white;
    /* background-color: red; */
    height: 20%;
    width: 100%;
    /* float: inline-end; */
    display: flex;
    justify-content: space-between;
}

#title #two {
    width: 90%;
}

#two-first{
    margin-top: 15px;
    font-size: 28px;
    font-family: js-bold;
}

@media screen and (max-width: 700px) {
    .topmost{
        height: 30%;
    }
    #title #one{
        display: none;
    }
    #two-first{
        margin-top: 0px;
        display: block;
        margin-left: 15px;
        width: 100%;
        /* background-color: red; */
        font-size: 15px;
    }
    #two-second{
        display: none;
    }
    #title #three{
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .topmost{
        height: 65%;
    }
    
    #title #one {
        width: 10%;
        background-image: url('icons/play.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
        /* background-color: yellow; */
    }

    #two-second{
        margin-top: 2px;
        color : #899398;
        font-size: 14px;
    }
    
    #title #three {
        width: 10%;
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
        margin-right: 1%;
    }
}

/* fan fav. + Bollywood Binge */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.bb {
    color: white;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.bb-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.bb-flex-container>a {
    height: 150px;
    width: 250px;
    margin-top:20px;
    margin-left: 5px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: #203345;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
    background-size:     cover;              
    background-repeat:   no-repeat;
    background-position: center center;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: white;
}

.bb-flex-container>a:hover {
    transform: scale(1.2);
    border-radius: 10px 10px 0px 0px;
}

.bb-flex-container>a #det {
    display: none;
}

.bb-flex-container>a:hover #det {
    display: block;
    margin-top: 150px;
    padding: 10px;
    background-color: #203345;
    border-radius: 0px 0px 10px 10px;
}

#playdet {
    height: 35px;
    width: 100%;
    /* background-color: red; */
    margin-top: 2px;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

#ua {
    float: right;
    border: 1px solid white;
    font-size: 8px;
    width: 30px;
    text-align: center;
    padding-top: 2px;
}

/* lang */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.lang {
    color: white;
    width: 85%;
    margin: auto;
    margin-top: 50px;
    /* background-color: red; */
}
 
@media screen and (max-width: 700px) {
    .lang-flex-container{
        display:flex;
        flex-direction: column;
    }
    .lang-flex-container>a{
        height : 50px;
        margin-top: 15px;  
        width: 100%;  
        border-radius: 10px;
        box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
        background-size: 100% auto;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;   
    }
    
    .lang-flex-container>a p{
        display: block;
        padding-top: 12px;
        padding-left: 30px;
        width: 100%;
        height: 52px;
        border-radius: 10px;
        background-color: #203345;;
    }
}

@media screen and (min-width: 700px) {
    .lang-flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .lang-flex-container>a {
        height: 130px;
        width: 130px;
        margin-left : 10px;
        margin-right : 10px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: #203345;
        box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
        background-size: 100% auto;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
    }
    .lang-flex-container>a p{
        display: none;
    }
}
.lang-flex-container>a:hover {
    box-shadow: 0 2px 15px 5px rgba(0, 0, 0, 0.8);
}


/* top rated */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.tr {
    color: white;
    width: 85%;
    margin: auto;
    margin-top: 50px;
    /* background-color: red; */
}

.tr-flex-container {
    margin-top: 15px;
    width: 100%;
    height: 400px;
    background-color: #203345;
    border-radius: 12px;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.tr-flex-container:hover .tr-poster {
    filter: saturate(1.5);
}

.tr-poster {
    background-image: url('posters/avenger.jpg');
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 100%;
    height: 75%;
    transition: 0.2s ease-in-out;
    background-size:     cover;              
    background-repeat:   no-repeat;
    background-position: center center;
    
}

.tr-moviename-flex-container {
    /* background-color: red; */
    height: 25%;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 700px) {
    .tr-moviename-flex-container #one{
        display: none;
    }
    .tr-moviename-flex-container #three{
        width: 25%;
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
        margin-right: 1%;
    }
    .tr-moviename-flex-container #two #tr-title{
        margin-top: 15px;
        margin-left: 30px;
        font-size: 20px;
    }

    .tr-moviename-flex-container #two #desc{
        display: none;
    }
}


@media screen and (min-width: 700px){
    .tr-moviename-flex-container #one {
        width: 10%;
        background-image: url('icons/play.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
    }

    .tr-moviename-flex-container #two {
        width: 90%;
    }

    .tr-moviename-flex-container #two #tr-title{
        margin-top: 15px;
        font-size: 28px;
    }

    .tr-moviename-flex-container #two #desc{
        margin-top: 2px;
        color : #899398;
        font-size: 14px;
    }

    .tr-moviename-flex-container #three {
        width: 10%;
        background-image: url('icons/plus.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center;
        margin-right: 1%;
    }
}

/* choose by genre */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.cbg {
    color: white;
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

.cbg-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cbg-flex-container>div {
    /* background-color: #ffad6f; */
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    height: 190px;
    width: 270px;
    background-color: #203345;
    border-radius: 12px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.cbg-poster {
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 100%;
    height: 75%;
    transition: 0.3s ease-in-out;
    background-size: 100% auto;
    background-position: center;
}

.cbg-flex-container>div:hover .cbg-poster {
    background-size: 110% auto;
}

.cbg-moviename-flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 25%;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    /* background-color: red; */
}


/* see more */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.sm {
    background-color: #203345;
    width: 85%;
    height: 50px;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #afb8bd;
    font-size: 20px;
    transition: box-shadow 0.15s ease-in-out;
}

.sm:hover {
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, 0.2);
}


/* footer */
/*  ------------------------------------------------------------------------------------------- */
/*  ------------------------------------------------------------------------------------------- */

.footer {
    background-color: #203345;
    margin-top: 60px;
    margin-bottom: 15px;
}

.flex-container>div:hover {
    opacity: 0.6;
}


@media screen and (max-width: 700px) {
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .flex-container>div {
        color: #afb8bd;
        margin: 0px auto;
        transition: 0.2s ease-in-out;
    }
}

@media screen and (min-width: 700px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .flex-container>div {
        color: #afb8bd;
        margin-left: 8px;
        margin-right: 8px;
        transition: 0.2s ease-in-out;
    }
}

#social-icons{
    padding-top: 18px;
    flex-direction: row;
    justify-content: center;
}

#social-icons>div{
    margin-left: 5px;
    margin-right: 5px;
}

i{
    font-size: 25px;
}